.app.light {
  background: #fff;
  color: #000;
}
.app.dark {
  background: #1e1e1e;
  color: #fff;
}
.messages {
  height: 300px;
  overflow-y: scroll;
  padding: 1rem;
}
input {
  width: 80%;
}
@media (max-width: 600px) {
  input {
    width: 70%;
  }
}
